doctype html
html
  head
    title Rythm and grace
    block scripts
    block style 
      
  body
    nav#navbar
        ul 
            div.logo 
              img(src="/static/1.png")
              | R&G
            li #[a(href="/")  Home] 
            li #[a(href="/") About ] 
            li #[a(href="/") Services] 
            li #[a(href="/") Class Info] 
            li  #[a(href="/") Contact us]
    block content
    footer#footer 
        | CopyRight © 2023 Rhythm&Grace